<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать заявку</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Создать заявку</h1>
        <form method="post" class="form-style" id="task-form">
            <label for="start_station">Начальная станция:</label>
            <select id="start_station" name="start_station" required>
                {% for station in stations %}
                <option value="{{ station }}">{{ station }}</option>
                {% endfor %}
            </select>

            <label for="end_station">Конечная станция:</label>
            <select id="end_station" name="end_station" required>
                {% for station in stations %}
                <option value="{{ station }}">{{ station }}</option>
                {% endfor %}
            </select>

            <label for="start_hour">Час начала:</label>
            <input type="number" id="start_hour" name="start_hour" required min="6" max="23">

            <label for="start_minute">Минута начала:</label>
            <input type="number" id="start_minute" name="start_minute" required min="0" max="59">

            <button type="submit">Создать задачу</button>
        </form>
        <p><a href="{{ url_for('index') }}">На главную</a></p>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        document.getElementById('task-form').addEventListener('submit', function(event) {
            var startStation = document.getElementById('start_station').value;
            var endStation = document.getElementById('end_station').value;

            if (startStation === endStation) {
                alert('Начальная и конечная станции не могут быть одинаковыми.');
                event.preventDefault(); // Предотвращаем отправку формы
            }
        });
    </script>
</body>
</html>