<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Управление заявками</h1>
        <div class="links-container">
            <p><a href="{{ url_for('create_task') }}">Создать заявку</a></p>
            <p><a href="{{ url_for('load_data_test') }}">Загрузить тестовые заявки</a></p>
            <p><a href="{{ url_for('assign_tasks') }}">Распределить заявки</a></p>
            <p><a href="{{ url_for('view_schedule') }}">Просмотр расписания</a></p>
            <!-- Кнопка для очистки расписания -->
            <p><a href="{{ url_for('clear_schedule') }}">Очистить расписание</a></p>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>