<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание сотрудников</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Расписание сотрудников</h1>
    <table>
        <thead>
            <tr>
                <th>Заявка ID</th>
                <th>Сотрудник</th>
                <th>Станция отправления</th>
                <th>Станция назначения</th>
                <th>Начало</th>
                <th>Окончание</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.employee_id }}</td>
                    <td>{{ task.start_station }}</td>
                    <td>{{ task.end_station }}</td>
                    <td>{{ task.start_time }}</td>
                    <td>{{ task.end_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
